openapi: 3.0.1
info:
  title: App Store Connect API
  version: "2.3"
  x-platform: app_store_connect_api
servers:
- url: https://api.appstoreconnect.apple.com/
security:
- itc-bearer-token: []
paths:
  /v1/ageRatingDeclarations/{id}:
    patch:
      operationId: ageRatingDeclarations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AgeRatingDeclarationUpdateRequest'
        description: AgeRatingDeclaration representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgeRatingDeclarationResponse'
          description: Single AgeRatingDeclaration
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AgeRatingDeclarations
  /v1/appAvailabilities:
    post:
      operationId: appAvailabilities-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppAvailabilityCreateRequest'
        description: AppAvailability representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAvailabilityResponse'
          description: Single AppAvailability
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppAvailabilities
  /v1/appAvailabilities/{id}:
    get:
      operationId: appAvailabilities-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appAvailabilities
        explode: false
        in: query
        name: "fields[appAvailabilities]"
        required: false
        schema:
          items:
            enum:
            - app
            - availableInNewTerritories
            - availableTerritories
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - availableTerritories
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type territories
        explode: false
        in: query
        name: "fields[territories]"
        required: false
        schema:
          items:
            enum:
            - currency
            type: string
          type: array
        style: form
      - description: maximum number of related availableTerritories returned (when
          they are included)
        explode: true
        in: query
        name: "limit[availableTerritories]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppAvailabilityResponse'
          description: Single AppAvailability
      tags:
      - AppAvailabilities
  /v1/appCategories:
    get:
      operationId: appCategories-get_collection
      parameters:
      - description: filter by attribute 'platforms'
        explode: false
        in: query
        name: "filter[platforms]"
        required: false
        schema:
          items:
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            type: string
          type: array
        style: form
      - description: filter by existence or non-existence of related 'parent'
        explode: false
        in: query
        name: "exists[parent]"
        required: false
        schema:
          type: boolean
        style: form
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - parent
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum number of related subcategories returned (when they are
          included)
        explode: true
        in: query
        name: "limit[subcategories]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoriesResponse'
          description: List of AppCategories
      tags:
      - AppCategories
  /v1/appCategories/{id}:
    get:
      operationId: appCategories-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCategories
        explode: false
        in: query
        name: "fields[appCategories]"
        required: false
        schema:
          items:
            enum:
            - parent
            - platforms
            - subcategories
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - parent
            - subcategories
            type: string
          type: array
        style: form
      - description: maximum number of related subcategories returned (when they are
          included)
        explode: true
        in: query
        name: "limit[subcategories]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCategoryResponse'
          description: Single AppCategory
      tags:
      - AppCategories
  /v1/appClipAdvancedExperienceImages:
    post:
      operationId: appClipAdvancedExperienceImages-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAdvancedExperienceImageCreateRequest'
        description: AppClipAdvancedExperienceImage representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceImageResponse'
          description: Single AppClipAdvancedExperienceImage
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipAdvancedExperienceImages
  /v1/appClipAdvancedExperienceImages/{id}:
    get:
      operationId: appClipAdvancedExperienceImages-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appClipAdvancedExperienceImages
        explode: false
        in: query
        name: "fields[appClipAdvancedExperienceImages]"
        required: false
        schema:
          items:
            enum:
            - assetDeliveryState
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceImageResponse'
          description: Single AppClipAdvancedExperienceImage
      tags:
      - AppClipAdvancedExperienceImages
    patch:
      operationId: appClipAdvancedExperienceImages-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAdvancedExperienceImageUpdateRequest'
        description: AppClipAdvancedExperienceImage representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceImageResponse'
          description: Single AppClipAdvancedExperienceImage
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipAdvancedExperienceImages
  /v1/appClipAdvancedExperiences:
    post:
      operationId: appClipAdvancedExperiences-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAdvancedExperienceCreateRequest'
        description: AppClipAdvancedExperience representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceResponse'
          description: Single AppClipAdvancedExperience
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipAdvancedExperiences
  /v1/appClipAdvancedExperiences/{id}:
    get:
      operationId: appClipAdvancedExperiences-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appClipAdvancedExperiences
        explode: false
        in: query
        name: "fields[appClipAdvancedExperiences]"
        required: false
        schema:
          items:
            enum:
            - action
            - appClip
            - businessCategory
            - defaultLanguage
            - headerImage
            - isPoweredBy
            - link
            - localizations
            - place
            - placeStatus
            - removed
            - status
            - version
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appClip
            - headerImage
            - localizations
            type: string
          type: array
        style: form
      - description: maximum number of related localizations returned (when they are
          included)
        explode: true
        in: query
        name: "limit[localizations]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceResponse'
          description: Single AppClipAdvancedExperience
      tags:
      - AppClipAdvancedExperiences
    patch:
      operationId: appClipAdvancedExperiences-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAdvancedExperienceUpdateRequest'
        description: AppClipAdvancedExperience representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAdvancedExperienceResponse'
          description: Single AppClipAdvancedExperience
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipAdvancedExperiences
  /v1/appClipAppStoreReviewDetails:
    post:
      operationId: appClipAppStoreReviewDetails-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAppStoreReviewDetailCreateRequest'
        description: AppClipAppStoreReviewDetail representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAppStoreReviewDetailResponse'
          description: Single AppClipAppStoreReviewDetail
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipAppStoreReviewDetails
  /v1/appClipAppStoreReviewDetails/{id}:
    get:
      operationId: appClipAppStoreReviewDetails-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appClipAppStoreReviewDetails
        explode: false
        in: query
        name: "fields[appClipAppStoreReviewDetails]"
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperience
            - invocationUrls
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperience
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAppStoreReviewDetailResponse'
          description: Single AppClipAppStoreReviewDetail
      tags:
      - AppClipAppStoreReviewDetails
    patch:
      operationId: appClipAppStoreReviewDetails-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipAppStoreReviewDetailUpdateRequest'
        description: AppClipAppStoreReviewDetail representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipAppStoreReviewDetailResponse'
          description: Single AppClipAppStoreReviewDetail
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipAppStoreReviewDetails
  /v1/appClipDefaultExperienceLocalizations:
    post:
      operationId: appClipDefaultExperienceLocalizations-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationCreateRequest'
        description: AppClipDefaultExperienceLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationResponse'
          description: Single AppClipDefaultExperienceLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipDefaultExperienceLocalizations
  /v1/appClipDefaultExperienceLocalizations/{id}:
    delete:
      operationId: appClipDefaultExperienceLocalizations-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppClipDefaultExperienceLocalizations
    get:
      operationId: appClipDefaultExperienceLocalizations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appClipDefaultExperienceLocalizations
        explode: false
        in: query
        name: "fields[appClipDefaultExperienceLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperience
            - appClipHeaderImage
            - locale
            - subtitle
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperience
            - appClipHeaderImage
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appClipHeaderImages
        explode: false
        in: query
        name: "fields[appClipHeaderImages]"
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperienceLocalization
            - assetDeliveryState
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationResponse'
          description: Single AppClipDefaultExperienceLocalization
      tags:
      - AppClipDefaultExperienceLocalizations
    patch:
      operationId: appClipDefaultExperienceLocalizations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationUpdateRequest'
        description: AppClipDefaultExperienceLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceLocalizationResponse'
          description: Single AppClipDefaultExperienceLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipDefaultExperienceLocalizations
  /v1/appClipDefaultExperiences:
    post:
      operationId: appClipDefaultExperiences-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipDefaultExperienceCreateRequest'
        description: AppClipDefaultExperience representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceResponse'
          description: Single AppClipDefaultExperience
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipDefaultExperiences
  /v1/appClipDefaultExperiences/{id}:
    delete:
      operationId: appClipDefaultExperiences-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppClipDefaultExperiences
    get:
      operationId: appClipDefaultExperiences-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appClipDefaultExperiences
        explode: false
        in: query
        name: "fields[appClipDefaultExperiences]"
        required: false
        schema:
          items:
            enum:
            - action
            - appClip
            - appClipAppStoreReviewDetail
            - appClipDefaultExperienceLocalizations
            - appClipDefaultExperienceTemplate
            - releaseWithAppStoreVersion
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appClip
            - appClipAppStoreReviewDetail
            - appClipDefaultExperienceLocalizations
            - releaseWithAppStoreVersion
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appClipAppStoreReviewDetails
        explode: false
        in: query
        name: "fields[appClipAppStoreReviewDetails]"
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperience
            - invocationUrls
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appStoreVersions
        explode: false
        in: query
        name: "fields[appStoreVersions]"
        required: false
        schema:
          items:
            enum:
            - ageRatingDeclaration
            - app
            - appClipDefaultExperience
            - appStoreReviewDetail
            - appStoreState
            - appStoreVersionExperiments
            - appStoreVersionLocalizations
            - appStoreVersionPhasedRelease
            - appStoreVersionSubmission
            - build
            - copyright
            - createdDate
            - customerReviews
            - downloadable
            - earliestReleaseDate
            - platform
            - releaseType
            - routingAppCoverage
            - versionString
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appClipDefaultExperienceLocalizations
        explode: false
        in: query
        name: "fields[appClipDefaultExperienceLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperience
            - appClipHeaderImage
            - locale
            - subtitle
            type: string
          type: array
        style: form
      - description: maximum number of related appClipDefaultExperienceLocalizations
          returned (when they are included)
        explode: true
        in: query
        name: "limit[appClipDefaultExperienceLocalizations]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceResponse'
          description: Single AppClipDefaultExperience
      tags:
      - AppClipDefaultExperiences
    patch:
      operationId: appClipDefaultExperiences-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipDefaultExperienceUpdateRequest'
        description: AppClipDefaultExperience representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipDefaultExperienceResponse'
          description: Single AppClipDefaultExperience
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipDefaultExperiences
  /v1/appClipHeaderImages:
    post:
      operationId: appClipHeaderImages-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipHeaderImageCreateRequest'
        description: AppClipHeaderImage representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipHeaderImageResponse'
          description: Single AppClipHeaderImage
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipHeaderImages
  /v1/appClipHeaderImages/{id}:
    delete:
      operationId: appClipHeaderImages-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppClipHeaderImages
    get:
      operationId: appClipHeaderImages-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appClipHeaderImages
        explode: false
        in: query
        name: "fields[appClipHeaderImages]"
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperienceLocalization
            - assetDeliveryState
            - fileName
            - fileSize
            - imageAsset
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appClipDefaultExperienceLocalization
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipHeaderImageResponse'
          description: Single AppClipHeaderImage
      tags:
      - AppClipHeaderImages
    patch:
      operationId: appClipHeaderImages-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppClipHeaderImageUpdateRequest'
        description: AppClipHeaderImage representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipHeaderImageResponse'
          description: Single AppClipHeaderImage
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppClipHeaderImages
  /v1/appClips/{id}:
    get:
      operationId: appClips-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appClips
        explode: false
        in: query
        name: "fields[appClips]"
        required: false
        schema:
          items:
            enum:
            - app
            - appClipAdvancedExperiences
            - appClipDefaultExperiences
            - bundleId
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - appClipDefaultExperiences
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appClipAdvancedExperiences
        explode: false
        in: query
        name: "fields[appClipAdvancedExperiences]"
        required: false
        schema:
          items:
            enum:
            - action
            - appClip
            - businessCategory
            - defaultLanguage
            - headerImage
            - isPoweredBy
            - link
            - localizations
            - place
            - placeStatus
            - removed
            - status
            - version
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appClipDefaultExperiences
        explode: false
        in: query
        name: "fields[appClipDefaultExperiences]"
        required: false
        schema:
          items:
            enum:
            - action
            - appClip
            - appClipAppStoreReviewDetail
            - appClipDefaultExperienceLocalizations
            - appClipDefaultExperienceTemplate
            - releaseWithAppStoreVersion
            type: string
          type: array
        style: form
      - description: maximum number of related appClipDefaultExperiences returned
          (when they are included)
        explode: true
        in: query
        name: "limit[appClipDefaultExperiences]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppClipResponse'
          description: Single AppClip
      tags:
      - AppClips
  /v1/appCustomProductPageLocalizations:
    post:
      operationId: appCustomProductPageLocalizations-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCustomProductPageLocalizationCreateRequest'
        description: AppCustomProductPageLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPageLocalizationResponse'
          description: Single AppCustomProductPageLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppCustomProductPageLocalizations
  /v1/appCustomProductPageLocalizations/{id}:
    delete:
      operationId: appCustomProductPageLocalizations-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppCustomProductPageLocalizations
    get:
      operationId: appCustomProductPageLocalizations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCustomProductPageLocalizations
        explode: false
        in: query
        name: "fields[appCustomProductPageLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appCustomProductPageVersion
            - appPreviewSets
            - appScreenshotSets
            - locale
            - promotionalText
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appCustomProductPageVersion
            - appPreviewSets
            - appScreenshotSets
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appScreenshotSets
        explode: false
        in: query
        name: "fields[appScreenshotSets]"
        required: false
        schema:
          items:
            enum:
            - appCustomProductPageLocalization
            - appScreenshots
            - appStoreVersionExperimentTreatmentLocalization
            - appStoreVersionLocalization
            - screenshotDisplayType
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appPreviewSets
        explode: false
        in: query
        name: "fields[appPreviewSets]"
        required: false
        schema:
          items:
            enum:
            - appCustomProductPageLocalization
            - appPreviews
            - appStoreVersionExperimentTreatmentLocalization
            - appStoreVersionLocalization
            - previewType
            type: string
          type: array
        style: form
      - description: maximum number of related appPreviewSets returned (when they
          are included)
        explode: true
        in: query
        name: "limit[appPreviewSets]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      - description: maximum number of related appScreenshotSets returned (when they
          are included)
        explode: true
        in: query
        name: "limit[appScreenshotSets]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPageLocalizationResponse'
          description: Single AppCustomProductPageLocalization
      tags:
      - AppCustomProductPageLocalizations
    patch:
      operationId: appCustomProductPageLocalizations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCustomProductPageLocalizationUpdateRequest'
        description: AppCustomProductPageLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPageLocalizationResponse'
          description: Single AppCustomProductPageLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppCustomProductPageLocalizations
  /v1/appCustomProductPageVersions:
    post:
      operationId: appCustomProductPageVersions-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCustomProductPageVersionCreateRequest'
        description: AppCustomProductPageVersion representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPageVersionResponse'
          description: Single AppCustomProductPageVersion
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppCustomProductPageVersions
  /v1/appCustomProductPageVersions/{id}:
    get:
      operationId: appCustomProductPageVersions-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCustomProductPageVersions
        explode: false
        in: query
        name: "fields[appCustomProductPageVersions]"
        required: false
        schema:
          items:
            enum:
            - appCustomProductPage
            - appCustomProductPageLocalizations
            - state
            - version
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appCustomProductPage
            - appCustomProductPageLocalizations
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appCustomProductPageLocalizations
        explode: false
        in: query
        name: "fields[appCustomProductPageLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appCustomProductPageVersion
            - appPreviewSets
            - appScreenshotSets
            - locale
            - promotionalText
            type: string
          type: array
        style: form
      - description: maximum number of related appCustomProductPageLocalizations returned
          (when they are included)
        explode: true
        in: query
        name: "limit[appCustomProductPageLocalizations]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPageVersionResponse'
          description: Single AppCustomProductPageVersion
      tags:
      - AppCustomProductPageVersions
  /v1/appCustomProductPages:
    post:
      operationId: appCustomProductPages-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCustomProductPageCreateRequest'
        description: AppCustomProductPage representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPageResponse'
          description: Single AppCustomProductPage
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppCustomProductPages
  /v1/appCustomProductPages/{id}:
    delete:
      operationId: appCustomProductPages-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppCustomProductPages
    get:
      operationId: appCustomProductPages-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appCustomProductPages
        explode: false
        in: query
        name: "fields[appCustomProductPages]"
        required: false
        schema:
          items:
            enum:
            - app
            - appCustomProductPageVersions
            - appStoreVersionTemplate
            - customProductPageTemplate
            - name
            - url
            - visible
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - appCustomProductPageVersions
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appCustomProductPageVersions
        explode: false
        in: query
        name: "fields[appCustomProductPageVersions]"
        required: false
        schema:
          items:
            enum:
            - appCustomProductPage
            - appCustomProductPageLocalizations
            - state
            - version
            type: string
          type: array
        style: form
      - description: maximum number of related appCustomProductPageVersions returned
          (when they are included)
        explode: true
        in: query
        name: "limit[appCustomProductPageVersions]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPageResponse'
          description: Single AppCustomProductPage
      tags:
      - AppCustomProductPages
    patch:
      operationId: appCustomProductPages-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppCustomProductPageUpdateRequest'
        description: AppCustomProductPage representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppCustomProductPageResponse'
          description: Single AppCustomProductPage
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppCustomProductPages
  /v1/appEncryptionDeclarationDocuments:
    post:
      operationId: appEncryptionDeclarationDocuments-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEncryptionDeclarationDocumentCreateRequest'
        description: AppEncryptionDeclarationDocument representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationDocumentResponse'
          description: Single AppEncryptionDeclarationDocument
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEncryptionDeclarationDocuments
  /v1/appEncryptionDeclarationDocuments/{id}:
    get:
      operationId: appEncryptionDeclarationDocuments-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appEncryptionDeclarationDocuments
        explode: false
        in: query
        name: "fields[appEncryptionDeclarationDocuments]"
        required: false
        schema:
          items:
            enum:
            - appEncryptionDeclaration
            - assetDeliveryState
            - assetToken
            - downloadUrl
            - fileName
            - fileSize
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationDocumentResponse'
          description: Single AppEncryptionDeclarationDocument
      tags:
      - AppEncryptionDeclarationDocuments
    patch:
      operationId: appEncryptionDeclarationDocuments-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEncryptionDeclarationDocumentUpdateRequest'
        description: AppEncryptionDeclarationDocument representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationDocumentResponse'
          description: Single AppEncryptionDeclarationDocument
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEncryptionDeclarationDocuments
  /v1/appEncryptionDeclarations:
    get:
      operationId: appEncryptionDeclarations-get_collection
      parameters:
      - description: filter by attribute 'platform'
        explode: false
        in: query
        name: "filter[platform]"
        required: false
        schema:
          items:
            enum:
            - IOS
            - MAC_OS
            - TV_OS
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'app'
        explode: false
        in: query
        name: "filter[app]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: filter by id(s) of related 'builds'
        explode: false
        in: query
        name: "filter[builds]"
        required: false
        schema:
          items:
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appEncryptionDeclarations
        explode: false
        in: query
        name: "fields[appEncryptionDeclarations]"
        required: false
        schema:
          items:
            enum:
            - app
            - appDescription
            - appEncryptionDeclarationDocument
            - appEncryptionDeclarationState
            - availableOnFrenchStore
            - builds
            - codeValue
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - createdDate
            - documentName
            - documentType
            - documentUrl
            - exempt
            - platform
            - uploadedDate
            - usesEncryption
            type: string
          type: array
        style: form
      - description: maximum resources per page
        explode: true
        in: query
        name: limit
        required: false
        schema:
          maximum: 200
          type: integer
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclarationDocument
            - builds
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appEncryptionDeclarationDocuments
        explode: false
        in: query
        name: "fields[appEncryptionDeclarationDocuments]"
        required: false
        schema:
          items:
            enum:
            - appEncryptionDeclaration
            - assetDeliveryState
            - assetToken
            - downloadUrl
            - fileName
            - fileSize
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: "fields[apps]"
        required: false
        schema:
          items:
            enum:
            - appAvailability
            - appClips
            - appCustomProductPages
            - appEvents
            - appInfos
            - appPricePoints
            - appPriceSchedule
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - ciProduct
            - contentRightsDeclaration
            - customerReviews
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - inAppPurchasesV2
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - pricePoints
            - prices
            - primaryLocale
            - promotedPurchases
            - reviewSubmissions
            - sku
            - subscriptionGracePeriod
            - subscriptionGroups
            - subscriptionStatusUrl
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlVersionForSandbox
            type: string
          type: array
        style: form
      - description: maximum number of related builds returned (when they are included)
        explode: true
        in: query
        name: "limit[builds]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationsResponse'
          description: List of AppEncryptionDeclarations
      tags:
      - AppEncryptionDeclarations
  /v1/appEncryptionDeclarations/{id}:
    get:
      operationId: appEncryptionDeclarations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appEncryptionDeclarations
        explode: false
        in: query
        name: "fields[appEncryptionDeclarations]"
        required: false
        schema:
          items:
            enum:
            - app
            - appDescription
            - appEncryptionDeclarationDocument
            - appEncryptionDeclarationState
            - availableOnFrenchStore
            - builds
            - codeValue
            - containsProprietaryCryptography
            - containsThirdPartyCryptography
            - createdDate
            - documentName
            - documentType
            - documentUrl
            - exempt
            - platform
            - uploadedDate
            - usesEncryption
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - app
            - appEncryptionDeclarationDocument
            - builds
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appEncryptionDeclarationDocuments
        explode: false
        in: query
        name: "fields[appEncryptionDeclarationDocuments]"
        required: false
        schema:
          items:
            enum:
            - appEncryptionDeclaration
            - assetDeliveryState
            - assetToken
            - downloadUrl
            - fileName
            - fileSize
            - sourceFileChecksum
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type apps
        explode: false
        in: query
        name: "fields[apps]"
        required: false
        schema:
          items:
            enum:
            - appAvailability
            - appClips
            - appCustomProductPages
            - appEvents
            - appInfos
            - appPricePoints
            - appPriceSchedule
            - appStoreVersions
            - availableInNewTerritories
            - availableTerritories
            - betaAppLocalizations
            - betaAppReviewDetail
            - betaGroups
            - betaLicenseAgreement
            - betaTesters
            - builds
            - bundleId
            - ciProduct
            - contentRightsDeclaration
            - customerReviews
            - endUserLicenseAgreement
            - gameCenterEnabledVersions
            - inAppPurchases
            - inAppPurchasesV2
            - isOrEverWasMadeForKids
            - name
            - perfPowerMetrics
            - preOrder
            - preReleaseVersions
            - pricePoints
            - prices
            - primaryLocale
            - promotedPurchases
            - reviewSubmissions
            - sku
            - subscriptionGracePeriod
            - subscriptionGroups
            - subscriptionStatusUrl
            - subscriptionStatusUrlForSandbox
            - subscriptionStatusUrlVersion
            - subscriptionStatusUrlVersionForSandbox
            type: string
          type: array
        style: form
      - description: maximum number of related builds returned (when they are included)
        explode: true
        in: query
        name: "limit[builds]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEncryptionDeclarationResponse'
          description: Single AppEncryptionDeclaration
      tags:
      - AppEncryptionDeclarations
  /v1/appEventLocalizations:
    post:
      operationId: appEventLocalizations-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventLocalizationCreateRequest'
        description: AppEventLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventLocalizationResponse'
          description: Single AppEventLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEventLocalizations
  /v1/appEventLocalizations/{id}:
    delete:
      operationId: appEventLocalizations-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppEventLocalizations
    get:
      operationId: appEventLocalizations-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appEventLocalizations
        explode: false
        in: query
        name: "fields[appEventLocalizations]"
        required: false
        schema:
          items:
            enum:
            - appEvent
            - appEventScreenshots
            - appEventVideoClips
            - locale
            - longDescription
            - name
            - shortDescription
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appEvent
            - appEventScreenshots
            - appEventVideoClips
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appEventScreenshots
        explode: false
        in: query
        name: "fields[appEventScreenshots]"
        required: false
        schema:
          items:
            enum:
            - appEventAssetType
            - appEventLocalization
            - assetDeliveryState
            - assetToken
            - fileName
            - fileSize
            - imageAsset
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: the fields to include for returned resources of type appEventVideoClips
        explode: false
        in: query
        name: "fields[appEventVideoClips]"
        required: false
        schema:
          items:
            enum:
            - appEventAssetType
            - appEventLocalization
            - assetDeliveryState
            - fileName
            - fileSize
            - previewFrameTimeCode
            - previewImage
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: maximum number of related appEventScreenshots returned (when
          they are included)
        explode: true
        in: query
        name: "limit[appEventScreenshots]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      - description: maximum number of related appEventVideoClips returned (when they
          are included)
        explode: true
        in: query
        name: "limit[appEventVideoClips]"
        required: false
        schema:
          maximum: 50
          type: integer
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventLocalizationResponse'
          description: Single AppEventLocalization
      tags:
      - AppEventLocalizations
    patch:
      operationId: appEventLocalizations-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventLocalizationUpdateRequest'
        description: AppEventLocalization representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventLocalizationResponse'
          description: Single AppEventLocalization
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEventLocalizations
  /v1/appEventScreenshots:
    post:
      operationId: appEventScreenshots-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventScreenshotCreateRequest'
        description: AppEventScreenshot representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventScreenshotResponse'
          description: Single AppEventScreenshot
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEventScreenshots
  /v1/appEventScreenshots/{id}:
    delete:
      operationId: appEventScreenshots-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppEventScreenshots
    get:
      operationId: appEventScreenshots-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appEventScreenshots
        explode: false
        in: query
        name: "fields[appEventScreenshots]"
        required: false
        schema:
          items:
            enum:
            - appEventAssetType
            - appEventLocalization
            - assetDeliveryState
            - assetToken
            - fileName
            - fileSize
            - imageAsset
            - uploadOperations
            - uploaded
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appEventLocalization
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventScreenshotResponse'
          description: Single AppEventScreenshot
      tags:
      - AppEventScreenshots
    patch:
      operationId: appEventScreenshots-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventScreenshotUpdateRequest'
        description: AppEventScreenshot representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventScreenshotResponse'
          description: Single AppEventScreenshot
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEventScreenshots
  /v1/appEventVideoClips:
    post:
      operationId: appEventVideoClips-create_instance
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AppEventVideoClipCreateRequest'
        description: AppEventVideoClip representation
        required: true
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventVideoClipResponse'
          description: Single AppEventVideoClip
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
      tags:
      - AppEventVideoClips
  /v1/appEventVideoClips/{id}:
    delete:
      operationId: appEventVideoClips-delete_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "409":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Request entity error(s)
        "204":
          description: Success (no content)
      tags:
      - AppEventVideoClips
    get:
      operationId: appEventVideoClips-get_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      - description: the fields to include for returned resources of type appEventVideoClips
        explode: false
        in: query
        name: "fields[appEventVideoClips]"
        required: false
        schema:
          items:
            enum:
            - appEventAssetType
            - appEventLocalization
            - assetDeliveryState
            - fileName
            - fileSize
            - previewFrameTimeCode
            - previewImage
            - uploadOperations
            - uploaded
            - videoUrl
            type: string
          type: array
        style: form
      - description: comma-separated list of relationships to include
        explode: false
        in: query
        name: include
        required: false
        schema:
          items:
            enum:
            - appEventLocalization
            type: string
          type: array
        style: form
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Parameter error(s)
        "403":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Forbidden error
        "404":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          description: Not found error
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AppEventVideoClipResponse'
          description: Single AppEventVideoClip
      tags:
      - AppEventVideoClips
    patch:
      operationId: appEventVideoClips-update_instance
      parameters:
      - description: the id of the requested resource
        explode: false
        in: path
        name: id
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
[...]
